body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#main {
  padding-top: 30px;
}

.controlpanel {
  margin-top: 20px;
  margin-bottom: 20px;
}

.selected {
  background-color: yellow;
}

.translated {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: #AAAA82;
}
.translated-start {
}
.translated-end::after {
  content: "\01F4AC";
}

.personref-start::before {
  content: "\01F449";
}
.personref-end::after {
  content: "\01F9D1";
}

.placeref-start::before {
  content: "\01F449";
}
.placeref-end::after {
  content: "\01F5FA";
}

.dateref-start::before {
  content: "\01F449";
}
.dateref-end::after {
  content: "\01F5D3";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
