body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#main {
  padding-top: 30px;
}

.controlpanel {
  margin-top: 20px;
  margin-bottom: 20px;
}

.referenceform > .row {
  margin-bottom: 20px;
  border-bottom: 1px black;
}

.selected {
  background-color: yellow;
}

.translated {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: #AAAA82;
}
.translated-start {
}
.translated-end::after {
  content: "\01F4AC";
}

.ref-person {
  background-color: rgb(209, 146, 76);
}
.personref {
  color: rgb(209, 146, 76);
}
.personref-end::after {
  content: "\01F9D1";
}

.ref-place {
  background-color: rgb(68, 131, 170);
}
.placeref {
  color: rgb(68, 131, 170);
}
.placeref-end::after {
  content: "\01F5FA";
}

.ref-date {
  background-color: rgb(182, 93, 93);
}
.dateref {
  color: rgb(182, 93, 93);
}
.dateref-end::after {
  content: "\01F5D3";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
